<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=$, initial-scale=1.0">
    <link rel="icon" href="../images/logotipo-mascota-diablo_94073-65-removebg-preview.png" type="image/png">
    <title>Diavlo v3</title>
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
    <link rel="stylesheet" href="../../electron/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/tsparticles-engine@2.8.0/tsparticles.engine.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-interaction-external-push@2.8.0/tsparticles.interaction.external.push.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-move-base@2.8.0/tsparticles.move.base.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-shape-circle@2.8.0/tsparticles.shape.circle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-updater-color@2.8.0/tsparticles.updater.color.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-updater-opacity@2.8.0/tsparticles.updater.opacity.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-updater-out-modes@2.8.0/tsparticles.updater.out-modes.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-updater-size@2.8.0/tsparticles.updater.size.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-preset-fire@2.8.0/tsparticles.preset.fire.min.js"></script>

    <script type="text/javascript">
        (async () => {
            await loadFirePreset(tsParticles);

            await tsParticles.load("tsparticles", { preset: "fire" });
        })();
    </script>

    <main>

        <header class="loggedHeader">
            <div class="rankImage">
                <img src="../images/logotipo-mascota-diablo_94073-65-removebg-preview.png" draggable="false" alt="logo">
            </div>
            <div class="user-info">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <h2>frozencode</h2>
                </div>

                <div class="rank-data">
                    <h3>Owner + </h3>
                    <span>300 Dias</span>
                </div>
            </div>
        </header>

        <section>

            <div class="options">
                <div class="rankOptions">
                    <div class="finder-container">
                        <h3>FINDER</h3>
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/email-address-icon.png" width="100px" height="100px"> 
                        <p>Obten datos de un nickname de redes sociales o un correo electrónico</p>
                        <div class="requisitos">
                            <p>Disponible para Mazikeen o Lucifer</p>
                        </div>
    
                    </div>
                    <div class="mc-container">
                        <h3>MC</h3>
                        <img src="https://cdn.pixabay.com/photo/2021/12/31/11/34/minecraft-6905550_960_720.png" height="110px" width="100px"></img>
                        <p>Obten datos de un nickname de minecraft</p>

                        <div class="requisitos">
                            <p>Disponible para Human o Lucifer</p>
                        </div>
                    </div>
                </div>
                <div class="settings-container">
                    <h3>AJUSTES</h3>
                    <img src="https://cdn0.iconfinder.com/data/icons/relief-calendar-glyph-1/32/setting-gear-wheel-512.png" height="50px" width="50px">
                    <p>Configura tu cuenta</p>
                </div>
            </div>  

        </section>

    </main>

    <footer>
        <ul>
            <li><span>Diavlo v3 © 2023</span></li>
            <li><a href="https://shoppy.gg/@diavlomc" >Tienda</a></li>
            <li><a href="https://discord.gg/programadores" >Discord</a></li>
            <li><a href="https://t.me/diavlodb" >Telegram</a></li>
        </ul>
        
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>