<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=$, initial-scale=1.0">
    <link rel="icon" href="../images/logotipo-mascota-diablo_94073-65-removebg-preview.png" type="image/png">
    <title>Diavlo | Log-in</title>
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
    <link rel="stylesheet" href="../../electron/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/tsparticles-engine@2.8.0/tsparticles.engine.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-interaction-external-push@2.8.0/tsparticles.interaction.external.push.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-move-base@2.8.0/tsparticles.move.base.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-shape-circle@2.8.0/tsparticles.shape.circle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-updater-color@2.8.0/tsparticles.updater.color.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-updater-opacity@2.8.0/tsparticles.updater.opacity.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-updater-out-modes@2.8.0/tsparticles.updater.out-modes.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-updater-size@2.8.0/tsparticles.updater.size.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-preset-fire@2.8.0/tsparticles.preset.fire.min.js"></script>
    <script type="text/javascript">
        (async () => {
            await loadFirePreset(tsParticles);

            await tsParticles.load("tsparticles", { preset: "fire" });
        })();
    </script>

    <main>
        <div class="login-card">
            <img src="../images/logotipo-mascota-diablo_94073-65-removebg-preview.png" height="250" width="auto"></img>
            <form action="/login" method="post" class="login-form">
                <p>Inicia sesión:</p>
                <input type="text" name="username" id="username" placeholder="Usuario de Diavlo" required>
                <input type="password" name="password" id="password" placeholder="Contraseña de Diavlo" required>
                <input type="submit" class="sign-in-button" value="Iniciar Sesión"/>

                <div class="login-no-account">
                    <a href="https://shoppy.gg/@diavlomc">Comprar una tarifa</a>
                </div>
                

            </form>

        </div>

    </main>

    <footer>
        <ul>
            <li><span>Diavlo v3 © 2023</span></li>
            <li><a href="https://discord.gg/programadores">Discord</a></li>
        </ul>
        
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <script>
        
        const loginButton = document.querySelector('.sign-in-button')
        loginButton.addEventListener('click', () =>{
            goToIndex()
        })

        function goToIndex(){
            const remote = require('electron').remote;
            const BrowserWindow = remote.BrowserWindow;
            const win = new BrowserWindow({
                height: 600,
                width: 800
            });

            win.loadURL('google.es');
        }
    </script>
</body>
</html>