@import url("../css/general.css");
@import url('https://fonts.cdnfonts.com/css/gotham');

.loggedHeader{
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 10px;
    height: fit-content;
    margin: 0 auto;
    z-index: 99;
    display: flex;
    position: relative;
    width: fit-content;
    float: right;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(33, 31, 31, 0.5);
    margin-right: 30px;
    margin-top: 50px;

    mix-blend-mode: screen;
    background-position: center;
    background-image: url("https://thumbs.gfycat.com/AdorableDapperGallowaycow-size_restricted.gif") ;
    
    box-shadow: 1px 1px 4px 1px rgba(33, 31, 31, 0.6);
}

.rankImage > img{
    width: 100px;
    height: 100px;
}

.rank-data{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(33, 31, 31, 0.2);
    border-radius: 5px;
    padding: 10px;
   
}

.rank-data > h3 {
    color: red;
    font-weight: bold;
}


section{
    position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.options{
    width: fit-content;
}

.rankOptions > div,.settings-container {
    padding: 20px;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(33, 31, 31, 0.2);
    border-radius: 5px;
    width: 260px;
    place-self: center;
    border-radius: 30px;
}

.rankOptions > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    filter: blur(2px);
    transition: all 0.2s ease-in-out;
    height: 420px;
}

.rankOptions > div:hover {
    filter: blur(0px);

}


.options h3 {
    color: white;
    font-weight: bold;
    font-family: 'Gotham Black','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;

}


.rankOptions {
    display: flex;
    align-items: center;
    align-content: space-between;
    gap: 30px;
}

.finder-container > img{
    filter: invert(1);
}

.settings-container > img {
    filter: invert(1);
}

.settings-container{
    width: 50%;
    height: fit-content;
    margin: auto;
    margin-top: 20px;

    transition: all 0.3s ease-in-out;
}

.rankOptions > div:hover,.settings-container:hover{
    cursor: pointer;
    transform: scale(1.02);

    mix-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://thumbs.gfycat.com/AdorableDapperGallowaycow-size_restricted.gif") ;
    z-index: 999;
    box-shadow: 1px 1px 4px 0px rgba(145, 25, 25, 0.6);
}

.rankOptions > div > p {
    padding: 20px;
    background-color: rgba(33, 31, 31, 0.3);
    color: white;
    border-radius: 20px;

}

.requisitos > p{
    font-weight: bold;
    padding: 10px;
    background-color: rgba(33, 31, 31, 0.3);
    color: rgb(255, 255, 255);
    border-radius: 20px;


}

@media only screen and (max-height: 750px) {
    .loggedHeader{
        padding: 0;
        margin-top: 10px;
        margin-right: 10px;
    }

    .loggedHeader > img{
        height: 10px !important;
        width: 10px !important;
    }
  }